# Data Table Creation

With database study, was possible to gather some informations that seems relevant for the study case

In [27]:
import pandas as pd
import numpy as np

## Chosen headers by file

CHEMICAL_CARRIERS  
carrier_id
test_id
cas_number
chem_name
formulation

CHEMICALS  
cas_number
chemical_name
dose_id

DOSE_RESPONSE_DETAILS  
dose_resp_detail_id
dose_id

DOSE_RESPONSE_LINKS  
result_id
dose_resp_id

DOSE_RESPONSES  
dose_resp_id
test_id
effect_code
measurement_code

DOSES  
dose_id
test_id
dose1_number
dose2_mean
dose3_mean

RESULTS  
result_id
test_id
effect
measurement
conc1_mean
conc2_mean
conc3_mean

SPECIES  
species_number
common_name
kingdom
class
tax_order
family
species

TESTS  
test_id
test_cas //Foreign key to CHEMICALS lookup table.
organism_lifestage //Foreign key to LIFESTAGE_CODES
organism_age_mean
organism_gender
study_duration_mean
exposure_duration_mean
test_type //Foreign key to TEST_TYPE_CODES
num_doses_mean
application_freq_mean
halflife_mean

In [49]:
df_chemical_carriers = pd.read_csv("chemical_carriers.txt",sep="|", dtype='unicode')
df_chemical_carriers = df_chemical_carriers[['carrier_id', 'test_id', 'cas_number', 'chem_name', 'formulation']]
print(df_chemical_carriers.shape)
df_chemical_carriers = df_chemical_carriers.drop_duplicates()
df_chemical_carriers.shape

(163246, 5)

(163246, 5)

In [29]:
df_chemical_formulation_codes = pd.read_csv("chemical_formulation_codes.txt",sep="|", dtype='unicode')
df_chemical_grade_codes = pd.read_csv("chemical_grade_codes.txt",sep="|", dtype='unicode')
df_effect_codes = pd.read_csv("effect_codes.txt",sep="|", dtype='unicode')

In [50]:
df_chemicals = pd.read_csv("chemicals.txt",sep="|", dtype='unicode')
df_chemicals = df_chemicals[['cas_number','chemical_name']]

print(df_chemicals.shape)
df_chemicals = df_chemicals.drop_duplicates()
df_chemicals.shape

(15844, 2)

(15844, 2)

In [59]:
df_dose_response_details = pd.read_csv("dose_response_details.txt",sep="|", dtype='unicode')
df_dose_response_details = df_dose_response_details[['dose_resp_detail_id','dose_id']]

df_dose_response_details.iloc[:5]

  dose_resp_detail_id dose_id
0                   1       2
1                   2       3
2                   3       4
3                   4       1
4                   5       2

In [52]:
zdf_dose_response_links = pd.read_csv("dose_response_links.txt",sep="|", dtype='unicode')
df_dose_response_links = df_dose_response_links[['result_id', 'dose_resp_id']]

print(df_dose_response_links.shape)
df_dose_response_links = df_dose_response_links.drop_zduplicates()
df_dose_response_links.shape

(121581, 2)

(121581, 2)

In [55]:
df_doses = pd.read_csv("doses.txt",sep="|", dtype='unicode')
df_doses = df_doses[['dose_id','test_id','dose1_mean','dose2_mean','dose3_mean']]

print(df_doses.shape)
df_doses = df_doses.drop_duplicates()
df_doses.shape

(441971, 5)

(441971, 5)

In [90]:
df_results = pd.read_csv("results.txt",sep="|", dtype='unicode')
df_results = df_results[['result_id','test_id','effect','measurement','conc1_mean','conc2_mean','conc3_mean']]

print(df_results.shape)
df_results = df_results.drop_duplicates(subset=['result_id','effect'])
df_results.shape

(926108, 7)

(926108, 7)

In [87]:
df_species = pd.read_csv("species.txt",sep="|", dtype='unicode')
df_species = df_species[['species_number','common_name','kingdom','class','tax_order','family','species']]

print(df_species.shape)
df_species = df_species.drop_duplicates()
df_species.shape

(25225, 7)

(25225, 7)

In [72]:
df_tests = pd.read_csv("tests.txt",sep="|", dtype='unicode')
df_tests = df_tests[['test_id','test_cas','organism_lifestage','species_number','organism_age_mean','organism_gender','study_duration_mean','exposure_duration_mean','test_type','num_doses_mean','application_freq_mean','halflife_mean']]

print(df_tests.shape)
df_tests = df_tests.drop_duplicates(subset=['test_id', 'test_cas'])
df_tests.shape

(657735, 12)

(657735, 12)

In [91]:
df = df_tests.merge(df_results, on=['test_id'])
df = df.merge(df_doses, on=['test_id'])
#df = df.merge(df_dose_response_links, on=['result_id'])
#df = df.merge(df_dose_response_details, on=['dose_id'])
#df = df.merge(df_chemical_carriers, on=['test_id'])
#df = df.merge(df_chemicals, on=['cas_number'])
#df = df.merge(df_species, on=['species_number'])
df.iloc[:5]

,test_id,test_cas,organism_lifestage,species_number,organism_age_mean,organism_gender,study_duration_mean,exposure_duration_mean,test_type,num_doses_mean,...,result_id,effect,measurement,conc1_mean,conc2_mean,conc3_mean,dose_id,dose1_mean,dose2_mean,dose3_mean
0,1,1336363,NR,4906,1,Male,15,15,NC,4,...,1182449,ENZ,GENZ/,NR,NaN,NaN,1,0,NaN,NaN
1,1,1336363,NR,4906,1,Male,15,15,NC,4,...,1182449,ENZ,GENZ/,NR,NaN,NaN,2,5,NaN,NaN
2,1,1336363,NR,4906,1,Male,15,15,NC,4,...,1182449,ENZ,GENZ/,NR,NaN,NaN,3,25,NaN,NaN
3,1,1336363,NR,4906,1,Male,15,15,NC,4,...,1182449,ENZ,GENZ/,NR,NaN,NaN,4,125,NaN,NaN
4,1,1336363,NR,4906,1,Male,15,15,NC,4,...,1182450,HRM,TSTR,NR,NaN,NaN,1,0,NaN,NaN

In [92]:
df_clone = df
df.shape

(1293437, 22)

In [75]:
df_clone = df_clone.drop_duplicates(subset=['test_id'])
df_clone.shape

(657735, 18)