In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("table.txt", dtype='unicode')
df = df.drop(['line'], axis=1)
df.iloc[:5]

,test_id,test_cas,organism_lifestage,species_number,organism_age_mean,organism_gender,study_duration_mean,exposure_duration_mean,test_type,num_doses_mean,...,cas_number,chem_name,formulation,chemical_name,common_name,kingdom,class,tax_order,family,species
0,13,50293,NR,5022,NR,NR,8,8,NC,1,...,67641,2-Propanone,NR,2-Propanone,Indian Earthworm,Animalia,Oligochaeta,Haplotaxida,Megascolecidae,posthuma
1,13,50293,NR,5022,NR,NR,8,8,NC,1,...,67641,2-Propanone,NR,2-Propanone,Indian Earthworm,Animalia,Oligochaeta,Haplotaxida,Megascolecidae,posthuma
2,13,50293,NR,5022,NR,NR,8,8,NC,1,...,67641,2-Propanone,NR,2-Propanone,Indian Earthworm,Animalia,Oligochaeta,Haplotaxida,Megascolecidae,posthuma
3,13,50293,NR,5022,NR,NR,8,8,NC,1,...,67641,2-Propanone,NR,2-Propanone,Indian Earthworm,Animalia,Oligochaeta,Haplotaxida,Megascolecidae,posthuma
4,13,50293,NR,5022,NR,NR,8,8,NC,1,...,67641,2-Propanone,NR,2-Propanone,Indian Earthworm,Animalia,Oligochaeta,Haplotaxida,Megascolecidae,posthuma

In [11]:
n = df.query('effect == "MOR"')

speciesMeasurement = n.groupby(['species', 'measurement']).size().sort_values(ascending=False)
speciesMeasurement

species        measurement
norvegicus     GMOR/          60737
               MORT           12841
musculus       GMOR/          11758
colchicus      GMOR/           5192
norvegicus     SURV            5118
platyrhynchos  GMOR/           4836
terrestris     MORT            3808
japonica       GMOR/           3542
rubripes       GMOR/           3186
musculus       MORT            2123
esculentus     MORT            1813
musculus       SURV            1648
alba           GMOR/           1260
candida        MORT            1174
japonica       MORT            1084
sp.            GMOR/           1052
latrans        TDTH             918
scrofa         MORT             882
platyrhynchos  MORT             868
andrei         GMOR/            814
aries          MORT             701
virginianus    MORT             689
domesticus     GMOR/            654
japonica       SURV             648
sparverius     GMOR/            630
fetida         HTCH             436
redividus      SURV             416
hispidus       MORT             370
vison          MORT             348
mellifera      MORT             308
                              ...
fulica         MORT               2
castaneum      TLET               2
phoeniceus     SURV               2
inodorum       MORT               2
armata         MORT               2
exigua         HTCH               2
rigidum        MORT               2
vulgaris       SURV               2
oregonensis    SURV               1
norvegicus     GMOR               1
vulgare        MORT               1
arvensis       MORT               1
papaya         MORT               1
latrans        MORT               1
musculus       GMOR               1
littoralis     SURV               1
polionotus     MORT               1
brassicae      SURV               1
brunneus       MORT               1
discors        MORT               1
gestroi        MORT               1
quiscula       MORT               1
cincta         GMOR               1
sponsa         SURV               1
sp.            SURV               1
rotundata      SURV               1
rubra          SURV               1
domestica      SURV               1
discors        SURV               1
musculus       LFSP               1
Length: 166, dtype: int64